header, footer {
    nav {
        position: absolute;
        margin-top: 30px;
        ul {
            list-style-type: none;
            display: flex;
            column-gap: 41px;
            align-items: flex-end;
            li, a {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}