.top-sale {
    padding: 80px 0 110px 0;
    background: url('./top-sale-bg.jpg') center repeat-y;
    .wrapper {
        padding: 0 170px;
    }
    h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
    }
}