@import './helpers/libs/bootstrap-reboot.min';
@import './fonts.scss';

* {
    font-family: 'Merienda', cursive;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

p {
    margin: 0;
}

.wrapper {
    position: relative;
}